*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.topContainer {
    background-color: #24053E;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 0 0 42% 42% / 0 0 13% 13%;
    margin-bottom: 10%;
}

.topNav {
    display: flex;
    justify-content: space-around;
    gap: 50%;
    color: white;
    font-size: 18px;
}

.topContainer ul {
    list-style-type: none;
}

.logo {
}

.hero {
display: flex;
justify-content: center;
}

.heroBrains {

    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}
.hero img {
    width: 767px;
    height: 441px;
}

.heroImg {
    position: absolute;
    left: 0px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 767px;
    padding-top: 17%;
    
}
.text {
    text-align: center;
    padding: 40px;
}

.text h2 {
    font-size: 50px;
    color: white;
    padding-bottom: 40px;
}

.text a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: none;
    background-color: #44FFA1;
    padding: 10px 20px;
}

.infoHero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:100px;
    color: #24053E;
    font-family:'Fraunces';
    background-color: #FCF8FF;
    
}
.infoHero h2{
    text-align: center;
}

.infoHero p {
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    margin-right: 10px;
}

.infoNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid;
  
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.cardTitle {
    margin: 55px 0 25px 0;
}

.bottomSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomImg img{
    width: 477px;
    height: 477px;
    position: relative;
    margin-right: 650px;
    margin-bottom: 300px;
    z-index: 1;
}

.bottomCard {
    background-color: #24053E;
    display: flex;
    flex-direction: column;
    color: white;
    width: 650px;
    height: 330px;
    padding-left:40px;
    position: absolute;
    margin-left:300px;
    margin-bottom:100px;
    z-index: 2;
}

.bottomCardHeading {
    font-family: 'Fraunces';
    font-size: 25px;
    text-align: left;
    margin: 50px 0;
}

.bottomCardInfo {
    font-family: 'Fraunces';
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 35px;
    margin-right: 80px;
}

.bottomCardBtn a {
    font-family: 'Fraunces';
    text-decoration: none;
    font-size: 20px;
    color: #24053E;
    border: none;
    background-color: #44FFA1;
    padding: 10px 20px;
}


.bottomFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerImg {
    margin-bottom: 30px;
}

#twitter {
    margin:0 30px;
}

.bottomFooter {
    margin-bottom: 30px;
}